 <!DOCTYPE html>
 <html>
 <body style="background-color:	#99e699">
 <style>
h1 {
    color: #000000;
    font-family: helvetica;
    font-size: 300%;
    border: 1px solid black;
    text-align: center;

}
p  {
    color: black;
    font-family: helvetica;
    font-size: 100%;
    text-align: center;

 }

</style>
 <head>
 
 	<h1 style="color:#000000;">Welcome index</h1>
 </head>

 <img src="/home/sonja/projects/railsgirls/app/assets/images/image.jpg" alt="image" />

 <p><i>Find me in app/views/welcome/index.html.erb</i></p>

</body>

</html>