 <!DOCTYPE html>
 <html>
 <body style="background-color:	#000000">
 <style>
h1 {
    color: #ffffff;
    font-family: helvetica;
    font-size: 200%;
    border: 2px solid black;
    text-align: center;

}
p  {
    color: #ffffff;
    font-family: helvetica;
    font-size: 70%;
    text-align: center;

 }

</style>
 <head>
 
 	<h1 style="color:#000000;">Welcome home, astronaut.</h1>
 	<h6>Find me in app/views/welcome/index.html.erb</h6>
 </head>

  <p><i>An astronaut's guide to finding their sandwiches.</i></p>

<!-- <img alt="Icon" src="/images/image.jpg" /> --> <!-- ovo ne valja -->

<%= image_tag("galaxy.jpg", :alt => "image") %> <!-- ovo valja --> 

 

</body>

</html>