 <!DOCTYPE html>
 <html>
 <body style="background-color:	#000000">
 <style>
h1 {
    color: #ffffff;
    font-family: helvetica;
    font-size: 200%;
    border: 2px solid black;
    text-align: center;


}
p  {
    color: #ffffff;
    font-family: helvetica;
    font-size: 70%;
    text-align: center;

 }

.center {
    display:block;
    width:800px;
    margin: 0 auto;
}

</style>
 <head>
 
    <%= image_tag("galaxy1.jpg", :alt => "galaxy", class: 'center')%> <!-- ovo valja --> 
 	<h1 style="color:#ffffff;">Welcome home, astronaut.</h1>
 	
 </head>

  <p><i>An astronaut's guide to finding their sandwiches.</i></p>
  <p><i>Find me in app/views/welcome/index.html.erb</i></p>

<!-- <img alt="Icon" src="/images/image.jpg" /> --> <!-- ovo ne valja -->

 

</body>

</html>